.main-sidebar { font-size: 18px!important; }
.main-header .logo {font-size: 20px; }
.sidebar-menu .treeview-menu>li>a {font-size: 12px!important; }
.selectize-input {font-size: 14px!important}
.sidebar-menu .label{font-size: 16px!important}